@import url("https://webdesignsurface.com/Areas/Surface/assets/bootstrap/css/bootstrap.min.css");
@import url("https://webdesignsurface.com/_data/9112/17058/18064.css");
@import url("https://webdesignsurface.com/_data/9112/17058/18075.css");

body {
    background-color: #555;
    color: #fff;
}

a {
    color: inherit; /* blue colors for links too */
    text-decoration: inherit; /* no underline */
}
